#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xPilot
GenericName=xPilot VATSIM Client
Exec=/home/stockli/xPilot/xPilot.AppImage
Terminal=false
Icon=/home/stockli/xpcockpit/applications/xPilot.png
Type=Application
