#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Start Leo Bodnar Interfaces
GenericName=Start Leo Bodnar Interfaces
Exec=xterm -e "\\${HOME}/xpcockpit/scripts/xpleo.sh; \\$SHELL"
Terminal=false
Icon=/home/stockli/xpcockpit/applications/xpleo.png
Type=Application
