#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Start SISMO Interfaces
GenericName=Start SISMO Interfaces
Exec=xterm -e "\\${HOME}/xpcockpit/scripts/xpsismo.sh; \\$SHELL"
Terminal=false
Icon=/home/stockli/xpcockpit/applications/xpsismo.png
Type=Application

