#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Start Teensy Controller
GenericName=Start Teensy Controller
Exec=xterm -e "\\${HOME}/xpcockpit/scripts/xpteensy.sh; \\$SHELL"
Terminal=false
Icon=/home/stockli/xpcockpit/applications/xpteensy.png
Type=Application
