[Unit]
Description=Systemd service to start and stop xpopengc with user stockli

[Service]
User=stockli
ExecStart=startx /home/stockli/xpcockpit/xpopengc/bin/xpopengc boeing737fmc1 

[Install]
WantedBy=default.target
