[Unit]
Description=Systemd service to start and stop xpopengc with user stockli
#Requires=lightdm.service
#After=lightdm.service

[Service]
#User=stockli
Environment=DISPLAY=:0.0
ExecStart=/home/stockli/xpcockpit/xpopengc/bin/xpopengc boeing737du2
#ExecStart=xeyes

[Install]
WantedBy=default.target
