[Unit]
Description=Systemd service to start and stop xpopengc with user stockli
After=graphical.target

[Service]
#User=stockli
Environment=DISPLAY=:0.0
ExecStartPre=sleep 10
ExecStart=/home/stockli/xpcockpit/xpopengc/bin/xpopengc boeing737du2
#ExecStart=xeyes

[Install]
WantedBy=default.target
