[Unit]
Description=Systemd service to start and stop xppi with user stockli
After=multi-user.target

[Service]
Type=simple
ExecStartPre=sleep 10
#ExecStart=sudo /home/stockli/xpcockpit/xppi/bin/xppi boeing737fmc2
#ExecStop=sudo /bin/kill $MAINPID
ExecStart=/home/stockli/xpcockpit/xppi/bin/xppi boeing737fmc2
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=default.target
