[Unit]
Description=Systemd service to start and stop xppi with user stockli

[Service]
Type=simple
#User=stockli
#Group=stockli
ExecStart=sudo /home/stockli/xpcockpit/xppi/bin/xppi boeing737mip 

[Install]
WantedBy=default.target
